# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.log
.python-version

# ==========================================
# Virtual Environments
# ==========================================
venv/
env/
.devcontainer/
.venv/

# ==========================================
# Django / Project files
# ==========================================
db.sqlite3
media/
staticfiles/
*.sqlite3

# Ignore compiled translation files
*.mo

# Ignore collected static files but NOT static source directory
staticfiles/
!static/

# ==========================================
# Environment & Secrets
# ==========================================
.env
env/

# ==========================================
# OS-specific
# ==========================================
.DS_Store
Thumbs.db

# ==========================================
# IDE / Editor settings
# ==========================================
.vscode/

# ==========================================
# Crash dumps & debug files
# ==========================================
core.Microsoft*
core.mongo*
core.python*

# ==========================================
# GitHub / CI configs
# ==========================================
.github/

# ==========================================
# Miscellaneous
# ==========================================
cloudinary_python.txt
