{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}Dashboard | Pokedex Genius{% endblock head_title %}

{% block content %}
<!-- Hero -->
  <section class="py-4 mb-5 text-center container-fluid">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 text-center mx-auto">
        <h1 class="font-heading letterspacing-2 text-center fw-800">Dashboard</h1>

        <!-- Buttons -->
        <div class="col-md-8 justify-content-center mx-auto mt-5">
          <div class="row justify-content-between">
            <div class="col">
              <a href="{% url 'pokedex_create' %}" class="link-success text-start">
                <span class="lead text-uppercase">
                  <i class="bi bi-plus-circle me-1"></i> Add Pokedex
                </span>
              </a>
            </div>
            <div class="col">
              <a href="#" class="link-info">
                <span class="lead text-uppercase text-end">
                  <i class="bi bi-gear me-1"></i> Edit Pokedex</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Overview Pokedexes -->
  <div class="album py-5">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
            {% for pokedex in pokedexes %}
            <div class="col">
              <div class="card shadow-sm h-100" style="border: solid 0.6rem {{ pokedex.color }};">
                  <div class="d-flex bg-secondary-subtle flex-column h-100 border border-dark-subtle border-2 shadow">
                      {% if pokedex.cover_image %}
                          <img src="{{ pokedex.cover_image.url }}" alt="Cover picture" class="card-img-top cover bg-white ratio-16x9">
                      {% else %}
                      <img src="{% static 'images/pokedex-cover.webp' %}" alt="Pokedex Cover Image" class="card-img-top cover ratio-16x9 mb-3">
                      {% endif %}
                      <div class="card-body d-flex flex-column justify-content-between p-3">
                          <h3 class="card-title font-heading"><a href="{% url 'pokedex_details' slug=pokedex.slug %}" class="link-warning">{{ pokedex.name }}</a></h3>
                          <p class="card-text mb-4">{{ pokedex.description }}</p>
                          <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                                  <a href="{% url 'pokedex_details' slug=pokedex.slug %}" class="btn btn-sm btn-outline-success fw-semibold text-uppercase">View</a>
                                  <a href="{% url 'pokedex_update' slug=pokedex.slug %}" class="btn btn-sm btn-outline-info fw-semibold text-uppercase">Edit</a>
                                  <a href="{% url 'pokedex_delete' slug=pokedex.slug %}" class="btn btn-sm btn-outline-danger fw-semibold text-uppercase">Delete</a>
                              </div>
                              <small class="mini-text text-uppercase align-self-end">No. of Pokemon: {{ pokedex.num_pokemon }}</small>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          {% endfor %}
        </div>
    </div>
{% endblock content %}

