{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}Dashboard | Pokedex Genius{% endblock head_title %}

{% block content %}
<div class="container-fluid bg-bubbles m-0 p-lg-0 p-3 pb-5">
  <!-- Hero -->
  <section class="d-md-flex justify-content-center container-fluid py-4 mb-lg-3 mb-3">
    <div class="container m-0">
      <div class="row nerumorphism py-lg-3 m-1 mt-lg-4 mt-3 px-sm-3">
        <div class="col-md-10 text-center mx-auto py-3 p-sm-4">
          <h1 class="font-heading text-uppercase letterspacing-2 text-center fw-800 mt-3 pb-lg-5 pb-3 pb-sm-4">Dashboard</h1>
  
          <!-- Buttons -->
          <div class="col-md-7 col-12 d-flex flex-lg-row nerumorphism justify-content-center mx-auto p-4">
            <div class="row justify-content-between gap-3 gap-lg-4">
              <div class="col-12 col-lg-auto">
                <a href="{% url 'pokedex_create' %}" class="link-success text-start">
                  <span class="lead text-uppercase">
                    <i class="bi bi-plus-circle me-1"></i> Create Pokedex
                  </span>
                </a>
              </div>
              <div class="col-12 col-lg-auto">
                <a href="{% url 'search' %}" class="link-info">
                  <span class="lead text-uppercase text-end">
                    <i class="bi bi-star me-1"></i> Add Pokemon</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Overview Pokedexes -->
    <div class="height-60 justify-content-between pt-4 pb-3 px-sm-5 px-md-2">
      <div class="container px-sm-4 px-md-2">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
          {% for pokedex in pokedexes %}
          <div class="col">
            <div class="card shadow-sm h-100" style="border: solid 0.6rem {{ pokedex.color }};">
              <div class="d-flex bg-secondary-subtle flex-column h-100 border border-dark-subtle border-2 shadow">
                {% if pokedex.cover_image %}
                  <img src="{{ pokedex.cover_image.url }}" alt="Cover picture" class="card-img-top cover mb-2">
                {% else %}
                  <img src="{% static 'images/pokedex-cover.webp' %}" alt="Pokedex Cover Image" class="card-img-top cover mb-2">
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-between p-3">
                  <h3 class="card-title font-heading">
                    <a href="{% url 'pokedex_details' slug=pokedex.slug %}" class="link-warning">
                      {{ pokedex.name }}
                    </a>
                  </h3>
                  <p class="card-text mb-4">
                    {{ pokedex.description }}
                  </p>
                  <div class="d-flex flex-column-reverse flex-md-column-reverse flex-sm-row flex-xl-row text-center justify-content-between align-md-items-center">
                    <div class="btn-group col-12 col-sm-6 col-md-12 col-xl-auto p-xl-0 m-xl-0" role="group" aria-label="Basic mixed styles example">
                      <a href="{% url 'pokedex_details' slug=pokedex.slug %}" class="btn btn-sm btn-outline-success fw-semibold text-uppercase">
                        View
                      </a>
                      <a href="{% url 'pokedex_update' slug=pokedex.slug %}" class="btn btn-sm btn-outline-info fw-semibold text-uppercase">
                        Edit
                      </a>
                      <a href="{% url 'pokedex_delete' slug=pokedex.slug %}" class="btn btn-sm btn-outline-danger fw-semibold text-uppercase">
                        Delete
                      </a>
                    </div>
                    <div class="col-12 col-sm-4 col-md-12 col-xl-auto text-sm-end text-xl-end mb-2 text-md-center mb-md-2 p-0 mt-sm-2 m-sm-0 mt-xl-2 m-xl-0">
                      <small class="mini-text text-uppercase align-self-end">
                        No. of Pokemon: {{ pokedex.num_pokemon }}
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>  
    </div>
  </div>
</div>
{% endblock content %}

