{% extends 'base.html' %}

{% block head_title %}Delete Pokedex {{ pokedex.name|title }} | Pokedex Genius{% endblock head_title %}

{% block content %}
<div class="container-fluid d-flex bg-bubbles align-items-center justify-content-center vh-90 p-4">
    <div class="col-lg-6 d-flex justify-content-center">
        <div class="row nerumorphism px-sm-5 p-3">
            <div class="text-center">
                <!-- Heading -->
                <h1 class="font-heading red text-uppercase letterspacing-2 fw-800 pt-4 pb-2">
                    Confirm your Pokedex deletion
                </h1>

                <!--Confirmation question -->
                <p class="lead py-2">Are you sure you want to delete {{ pokedex.name|title }}?</p>

                <!-- Deletion form -->
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="col d-flex flex-column gap-3">
                        <input type="submit" value="Yes, delete {{ pokedex.name|title }}" class="btn btn-lg btn btn-danger text-uppercase mb-2">
                        <a href="{% url 'dashboard' %}" class="btn btn-lg btn-outline-success text-uppercase mb-4">
                            No, don't delete <strong>{{ pokedex.name|title }}</strong>,<br>
                            <span class="fs-6">Back to Dashboard.</span>
                        </a>                     
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}