{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 vertical-center">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10 mt-5">
            <h1 class="font-heading letterspacing-2 text-center fw-800 my-4 mt-5">Create a New Pokedex</h2>
            <form method="post" enctype="multipart/form-data" class="form-floating">
                {% csrf_token %}

                <div class="mini-text text-uppercase text-center my-3">
                    <label for="{{ form.cover_image.id_for_label }}">Cover Image</label>
                    {{ form.cover_image }}
                    {% for error in form.cover_image.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            
                <div class="row">
                    <div class="col-md-8">
                        <!-- Name field -->
                        <div class="form-floating mb-4">
                            {{ form.name }}
                            <label for="{{ form.name.id_for_label }}">Name of Pokedex</label>
                            {% for error in form.name.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
        
                        <!-- Description field -->
                        <div class="form-floating mb-4">
                            {{ form.description }}
                            <label for="{{ form.description.id_for_label }}">Description</label>
                            {% for error in form.description.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col">
                        <!-- Color field -->
                        <div class="col d-flex align-items-center mb-4">
                            {{ form.color }}
                            <label for="{{ form.color.id_for_label }}" class="ms-3">Pokedex color </label>
                            {% for error in form.color.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>

                        <!-- Favourite checkbox -->
                        <div class="form-check mb-4">
                            {{ form.is_favorite }}
                            <label for="{{ form.is_favorite.id_for_label }}">Favorite Pokedex</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary text-uppercase fw-800 dark fs-5 w-100">Create Pokedex</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}