{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}Update Pokedex | Pokedex Genius{% endblock head_title %}

{% block content %}
<section class="py-5 text-center container update-pokedex-header">
    <div class="row py-lg-5">
        <div class="col-md-8 mx-auto">
            <h1 class="font-heading letterspacing-2 fw-800 mb-4 gold">Update Pokedex</h1>
        </div>
    </div>
</section>

<section class="container update-pokedex-form">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="post" action="" class="form-floating">
                {% csrf_token %}

                <!-- Cover image field -->
                <div class="col mini-text text-uppercase text-center my-5 pb-2">
                    <label for="{{ form.cover_image.id_for_label }}">Add a cover image: </label>
                    {% if form.instance.cover_image %}
                        <img src="{{ form.instance.cover_image.url }}" alt="Current Cover Image" class="img-fluid cover ratio-16x9">
                    {% else %}
                        <img src="{% static 'images/pokedex-cover.webp' %}" alt="Pokedex Cover Image" class="img-fluid cover ratio-16x9">
                    {% endif %}
                    {{ form.cover_image }}
                    {% for error in form.cover_image.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>

                <!-- Name Field with Floating Label -->
                <div class="form-floating mb-3">
                    {% render_field form.name class+="form-control" id="id_name" %}
                    <label for="id_name">Name</label>
                </div>

                <!-- Description Field with Floating Label -->
                <div class="form-floating mb-4">
                    <textarea class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}" placeholder="Describe your Pokedex" style="height: 100px;">{{ form.description.value|default_if_none:'' }}</textarea>
                    <label for="{{ form.description.id_for_label }}">Description</label>
                    {% for error in form.description.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
                
                <div class="row">
                    <div class="col-md-5">
                        <!-- Color field -->
                        <div class="col d-flex align-items-center mb-4">
                            {{ form.color }}
                            <label for="{{ form.color.id_for_label }}" class="fs-6 text-uppercase ms-3">Pokedex color</label>
                            {% for error in form.color.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <!-- Is favorite field -->
                        <div class="form-check mb-3">
                            {{ form.is_favorite }}
                            <label for="{{ form.is_favorite.id_for_label }}" class="form-check-label fs-6 white text-uppercase p-0 mt-0 ms-2">
                                Make this Pokedex a favorite
                            </label>
                            {% for error in form.is_favorite.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>                        
                    </div>
                </div>
                <button type="submit" class="btn btn-primary text-uppercase fw-800 dark fs-5 w-100">Update Pokedex</button>
            </form>
        </div>
    </div>
</section>
{% endblock content %}

{% block footer_scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var checkbox = document.getElementById('{{ form.is_favorite.id_for_label }}');
        var heartIcon = document.querySelector('.favorite-icon i');

        document.querySelector('.favorite-icon').addEventListener('click', function() {
            checkbox.checked = !checkbox.checked;
            heartIcon.classList.toggle('bi-heart-fill');
            heartIcon.classList.toggle('bi-heart');
        });
    });
</script>
{% endblock footer_scripts %}

