{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}Pokemon details {{ pokemon.species.name | title }} | Pokedex Genius{% endblock head_title %}

{% block content %}
<div class="container-fluid bg-bubbles d-flex justify-content-center align-items-center vh-90 p-4 p-md-4">    
    <div class="col-lg-8 col-md-11 p-0">
        <div class="col">
            <div class="col-md-6 col-12 d-flex align-items-center">
                <!-- Display form errors -->
                {% if form.errors %}
                    <div class="alert alert-danger text-center text-uppercase fs-6 py-2">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}   
            </div>
        </div>
        <div class="row d-flex flex-wrap justify-content-center align-items-stretch gap-3 p-0 m-0">
            <div class="col radial-gradient-background rounded-3 p-0 m-1 mx-sm-5 m-md-0">
                <div class="text-center p-3 pt-4 pb-2">
                    <!-- Pokemon image -->
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.id }}.png" alt="Official Artwork of {{ pokemon.species.name | title }}" class="img-fluid w-75">
                    <div class="row w-100">

                        <!-- Add Pokemon to Pokedex -->
                        <form method="POST" action="{% url 'pokemon_details' entry_number=pokemon.id %}" class="mt-2">
                            {% csrf_token %}
                            
                            <div class="col gap-0">
                                <div class="d-flex flex-sm-row flex-column align-items-center justify-content-between gap-sm-3 gap-0 m-0 pb-0">
                                    <div class="flex-grow-1 col-sm-auto col-12 m-0 p-0">

                                        <!-- Select Pokedex field -->
                                        <select name="pokedex" id="id_pokedex" class="form-control py-sm-2 pe-sm-2 p-2 m-0">
                                            {% for value, text in form.pokedex.field.choices %}
                                                <option value="{{ value }}" {% if form.pokedex.value == value %} selected {% endif %} class="lh-base">
                                                    {{ text|capfirst }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!-- Hidden entry number -->
                                    <input type="hidden" name="entry_number" value="{{ pokemon.id }}">

                                    <!-- Submit button large screens -->
                                    <div class="col-auto text-end p-0 m-0 d-none d-sm-block">
                                        <button type="submit" class="btn p-0 m-0">
                                            <i class="bi bi-plus-square-fill fs-1 fw-800 dark p-0 m-0" aria-label="Add Pokemon to Pokedex"></i>
                                        </button>
                                    </div>

                                    <!-- Submit button small screens -->
                                    <div class="col-12 d-block d-sm-none py-2 m-0">
                                        <button type="submit" class="btn btn-sm btn-primary dark text-uppercase fw-800 w-100" aria-label="Add Pokemon to Pokedex">
                                            Add to Pokedex
                                        </button>
                                    </div> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Pokemon details -->
            <div class="col-md-6 col-sm-10  bg-body-tertiary border rounded-3 p-5 m-1">
                <div class="text-center">
                    <div class="badge rounded-pill fs-6 text-bg-info mb-3">ID: {{ pokemon.id }}</div>
                </div>
                <h1 class="font-heading letterspacing-2 fw-800 text-center mb-4 py-2">{{ pokemon.name | title }}</h1>

                <!-- Pokemon description -->
                <div class="d-flex flex-row flex-wrap justify-content-around gap-2 row-gap-4 mt-4 dark">

                    <!-- Types -->
                    <div class="col-md-3 bg-gold rounded-3 d-flex text-center shadow justify-content-center py-3">
                        <div>
                            <h6 class="text-uppercase fw-semibold mb-0">Types:</h6>
                            <ul class="text-start fw-bold m-0 p-0">
                                {% for type in pokemon.types %}
                                    <li>{{ type.type.name | title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Abilities -->
                    <div class="col-md-3 bg-gold rounded-3 d-flex text-center shadow justify-content-center py-3">
                        <div>
                            <h6 class="text-uppercase fw-semibold mb-0">Abilities:</h6>
                            <ul class="text-start fw-bold m-0 p-0">
                                {% for ability in pokemon.abilities.all %}
                                    <li>{{ ability.name | title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <!-- Weight -->
                    <div class="col-md-3 bg-gold rounded-3 d-flex text-center shadow justify-content-center align-items-center py-1">
                        <div>
                            <h6 class="text-uppercase fw-semibold mb-1">Weight:</h6>
                            <p class="fw-800 fs-3 lh-1 m-0 p-0">{{ pokemon.weight|floatformat:0 }} <span class="fs-5">kg</span></p>
                        </div>
                    </div>

                    <!-- Height -->
                    <div class="col-md-3 bg-gold rounded-3 d-flex text-center shadow align-items-center justify-content-center py-1">
                        <div>
                            <h6 class="text-uppercase fw-semibold mb-1">Height:</h6>
                            <p class="fw-800 fs-3 lh-1 m-0 p-0">{{ pokemon.height|floatformat:0 }} <span class="fs-4">m</span></p>
                        </div>
                    </div>

                    <!-- Base Experience -->
                    <div class="col-md-2 bg-gold rounded-3 d-flex flex-column align-items-center text-center shadow pb-1">
                        <div class="w-100 text-end p-0 m-0">
                            <button type="button" class="btn m-0 p-0 text-end me-1 mb-n2 blue" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Base experience points gained from defeating or catching this Pokemon, crucial for leveling up and strengthening your Pokemon.">
                                <i class="bi bi-question-circle fw-bold"></i>
                            </button>
                        </div>
                        <h6 class="text-uppercase fw-semibold mt-n3 mb-1">EXP:</h6>
                        <p class="fw-800 fs-3 lh-1 p-0 m-0 mb-2">{{ pokemon.base_experience }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
