{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container-fluid d-flex bg-bubbles vh-90 create-pokedex-form align-items-center justify-content-center my-3">
    <div class="col-xl-8 col-md-10 nerumorphism justify-content-center p-xl-5 my-4 mb-5 m-sm-4 p-sm-3 mb-sm-5">
        <form method="post" enctype="multipart/form-data" class="form-floating w-100">
            {% csrf_token %}
            
            <div class="row d-flex mx-auto justify-content-around p-auto">

                <!-- Left column: Cover image upload -->
                <div class="col-12 col-xl-6 d-flex align-items-center p-sm-4 pt-3">
                    <div class="row gap-3 justify-content-center mx-auto p-auto">

                        <!-- Cover image field -->
                        <div class="col d-flex mini-text text-uppercase mx-auto">
                            <div class="col text-center pt-2">
                                {% if form.instance.cover_image %}
                                <img src="{{ form.instance.cover_image.url }}" alt="Cover image" class="img-fluid cover ratio-16x9 my-3">
                            {% else %}
                                <img src="{% static 'images/pokedex-cover.webp' %}" alt="Pokedex Cover Image" class="img-fluid cover ratio-16x9 my-3">
                            {% endif %}
                            
                            </div>
                            <div class="col-12 text-center">
                                <input type="file" name="{{ form.cover_image.name }}" id="id_{{ form.cover_image.name }}" class="mini-text text-uppercase p-2">
                                {% for error in form.cover_image.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right column: Form fields -->
                <div class="col-12 col-xl-6 d-flex align-items-center py-2">
                    <div class="row gap-3 align-items-center mx-auto p-3">
                        <div class="col pb-3 mx-auto">
                            <h1 class="font-heading green text-uppercase letterspacing-2 text-center fw-800 mb-4">Create Pokedex</h1>
    
                            <!-- Name field -->
                            <div class="form-floating mb-4">
                                {{ form.name }}
                                <label for="{{ form.name.id_for_label }}">Name of Pokedex</label>
                                {% for error in form.name.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
            
                            <!-- Description field -->
                            <div class="form-floating mb-4">
                                <textarea class="form-control" id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}" placeholder="Describe your Pokedex" style="height: 100px;"></textarea>
                                <label for="{{ form.description.id_for_label }}">Description</label>
                                {% for error in form.description.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
    
                            <div class="row text-start">
                                <div class="col m-0">
                                    <!-- Color field -->
                                    <div class="col d-flex align-items-center mb-4">
                                        {{ form.color }}
                                        <label for="{{ form.color.id_for_label }}" class="fs-6 ms-2">Pokedex color</label>
                                        {% for error in form.color.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-auto m-0">
                                    <!-- Is favorite field -->
                                    <div class="form-check mb-2">
                                        {{ form.is_favorite }}
                                        <label for="{{ form.is_favorite.id_for_label }}" class="form-check-label fs-6 white text-start p-0 mt-0 ms-1">
                                            Make this Pokedex a favorite
                                        </label>
                                        {% for error in form.is_favorite.errors %}
                                            <div class="invalid-feedback">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <!-- Submit Button -->
                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary text-uppercase fw-800 dark fs-5 w-100">Create new Pokedex</button>
                                </div>                            
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
