{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}
    {% trans "Search" %}
{% endblock head_title %}

{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-md-8 mx-auto height-60 align-items-center d-flex flex-column justify-content-center">
                <h1 class="font-heading letterspacing-2 fw-800 mb-4 gold">
                    Search for a Pokemon
                </h1>
                <p class="lead">Unfortunately, we can only show Pokemons from Kanto region (generation I) at the moment. We are working on getting all regions avalible soon.</p>
                <form method="post" action="" class="mt-3">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Choose Pokemon</button>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}