{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block head_title %}Find a Pokemon | Pokedex Genius{% endblock head_title %}

{% block content %}
<div class="container-fluid d-flex bg-bubbles align-items-center justify-content-center vh-90  p-4">
    <div class="container d-flex justify-content-center">
        <div class="row col-lg-6 nerumorphism px-md-5 p-sm-4 p-3">
            <div class="text-center">
                <!-- Heading -->
                <h1 class="font-heading orchid text-uppercase letterspacing-2 fw-800 pt-4">
                    Find a Pokemon
                </h1>
                <form method="post" action="">
                    {% csrf_token %}
                    <!-- Dropdown to select Pokemon -->
                    <div class="form-floating my-4">
                        {{ form.pokemon }}
                        <label for="{{ form.pokemon.id_for_label }}">Select Pokemon</label>
                        {% for error in form.pokemon.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-outline-primary text-uppercase lh-1 fw-800 dark fs-5 mb-md-3 py-3 w-100">Choose Pokemon</button>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}