{% extends "guest_header.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Sign in | Pokedex Genius{% endblock head_title %}

{% block page_heading %}
    <h1 class="blue text-center font-heading fw-800 my-3">Login</h1>
{% endblock page_heading %}

{% block form_content %}
<div class="container">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
        <div class="col d-block justify-content-center flex-wrap align-items-center">
            <p class="text-uppercase lead gold text-center mb-4">
                Don't have an account yet? <a href="{{ signup_url }}" class="link-success text-decoration-none">Sign up</a> for free!
            </p>

            <!-- Login Form -->
            <div class="col d-flex flex-column justify-content-center mb-3">
                <form method="post" class="form-login">
                    {% csrf_token %}
                    {{ form|crispy }}

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary text-uppercase fw-800 dark fs-5 w-100">Sign in</button>
                </form>                
            </div>
        </div>
    </div>
</div>
{% endblock form_content %}
