{% extends "guest_header.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}

{% block page_heading %}
    <h1 class="blue text-center font-heading fw-800 my-3">Login</h1>
{% endblock page_heading %}

{% block form_content %}
    <div class="container">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <div class="col d-block justify-content-center flex-wrap align-items-center">
                <p class="text-uppercase fs-6 gold mb-3 text-center">
                    Don't have an account yet? <a href="{{ signup_url }}" class="main-link text-decoration-none">sign up</a> for free!
                </p>
                <div class="col mt-3 d-flex justify-content-center mb-3">
                    <form method="post" class="form-login">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary w-100 dark text-uppercase fw-800 fs-5">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock form_content %}
