{% extends "guest_header.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}
    {% trans "Logout" %}
{% endblock head_title %}

{% block page_heading %}
    <h1 class="blue text-center font-heading fw-800 my-3">Are you sure you wanna sign out?</h1>
{% endblock page_heading %}

{% block form_content %}
    <div class="container">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <div class="col d-block justify-content-center flex-wrap align-items-center">
                <div class="col mt-3 d-flex justify-content-center mb-3">
                    <form method="post" class="form-logout form">
                        {% csrf_token %}
                        <p class="text-uppercase fs-5 gold mb-4 text-center">
                            Please comfirm that you want to sign out.
                        </p>
                        <div>
                            <a href="{% url 'dashboard' %}" class="btn btn-primary w-100 dark text-uppercase fw-800 fs-5 mb-4">Changed my mind</a>
                            <button type="submit" class="btn btn-outline-seconday w-100 dark text-uppercase fw-800 fs-5 mb-3">Sign out</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock form_content %}


