{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block head_title %}Change password | Pokedex Genius{% endblock head_title %}

{% block content %}
<div class="container-fluid d-flex bg-bubbles align-items-center justify-content-center vh-90  p-4">
    <div class="container d-flex justify-content-center">
        <div class="row col-lg-5 nerumorphism px-md-5 p-sm-4 p-3">
            <div class="text-center">
                <!-- Heading -->
                <h1 class="font-heading orchid text-uppercase letterspacing-2 fw-800 pt-4 mb-3">
                    Change password
                </h1>
                <form method="post">
                    {% csrf_token %}
                
                    <!-- Non-field errors -->
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}
                
                    <!-- Render fields -->
                    {% for field in form %}
                        <div class="form-floating mb-3">
                            {% if field.errors %}
                                <div class="alert alert-danger">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {{ field|add_class:"form-control" }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </div>
                    {% endfor %}
                
                    <button type="submit" class="btn btn-primary text-uppercase fw-800 dark fs-5 w-100">Change Password</button>
                </form>
                
            </div>
        </div>
    </section>
{% endblock content %}