{% extends "guest_header.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

{% block page_heading %}
    <h1 class="blue text-center font-heading fw-800 my-3">Forgotten your password?</h1>
{% endblock page_heading %}

{% block form_content %}
    <div class="container">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <div class="col d-block justify-content-center flex-wrap align-items-center">
                <p class="text-uppercase fs-5 gold mb-3 text-center">
                    Please enter your email address to reset you password.
                </p>
                <div class="col mt-3 d-flex justify-content-center mb-3">
                    <form method="post" class="form-reset-password form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary w-100 dark text-uppercase fw-800 fs-5 mt-2">Reset password</button>
                    </form>
                </div>
                <p class="mb-3 fs-6 text-center mt-5">Feel free to <span><a href="mailto:info@pokedexgenius.com" class="text-center minitext mail-link">contact us</a></span> if you have any trouble resetting your password.</p>
            </div>
        </div>
    </div>
{% endblock form_content %}