{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}Change password | Pokedex Genius{% endblock head_title %}

{% block content %}
<div class="container-fluid d-flex bg-bubbles align-items-center justify-content-center vh-90  p-4">
    <div class="container d-flex justify-content-center">
        <div class="row col-lg-5 nerumorphism px-md-5 p-sm-4 p-3">
            <div class="text-center">
                <!-- Heading -->
                <h1 class="font-heading orchid text-uppercase letterspacing-2 fw-800 pt-4 mb-3">
                    Change password
                </h1>
                <form method="post">
                    {% csrf_token %}

                    <!-- Old password -->
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="old_password" name="old_password" placeholder="old_password" value="">
                        <label for="old_password">Old Password</label>
                        {% for error in form.old_password.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    </div>

                    <!-- New password -->
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New password" value="">
                        <label for="new_password">New password</label>
                        {% for error in form.new_password.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                    </div>

                    <!-- Confirm password -->
                    <div class="form-floating mb-3 mt-2">
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Repeat new password" value="">
                        <label for="confirm_password">Confirm Password</label>
                        {% for error in form.confirm_password.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary text-uppercase lh-1 fw-800 dark fs-5 mb-md-3 w-100">Change Password</button>
                    <div class="align-items-center">
                        <!-- Display form errors -->
                        {% if form.errors %}
                            <div class="alert alert-danger text-center text-uppercase fs-6 py-2">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}   
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}