{% extends "guest_header.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

{% block page_heading %}
    <h1 class="blue text-center font-heading fw-800 my-3">Password Reset</h1>
{% endblock page_heading %}

{% block form_content %}
    <div class="container">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <div class="col d-block justify-content-center flex-wrap align-items-center">
                <p class="fs-4 mb-4 text-center">
                    We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
                </p>
                <div class="col mt-3 d-flex justify-content-center mb-3">
                    <a href="/" class="btn btn-secondary dark text-uppercase fw-800 fs-5 mt-2 px-4">Back to home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock form_content %}
