{% extends "guest_header.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head_title %}Password Reset | Pokedex Genius{% endblock head_title %}

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

{% block page_heading %}
    <h1 class="blue text-center text-uppercase font-heading fw-800 my-3">Forgotten your password?</h1>
{% endblock page_heading %}

{% block form_content %}
    <div class="container">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <div class="col d-block justify-content-center flex-wrap align-items-center">
                <p class="text-uppercase fs-5 gold text-center mb-4">
                    Please enter your email address to reset your password.
                </p>
                <div class="col d-flex justify-content-center mb-3 mt-3">
                    <form method="post" class="form-reset-password form">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-floating mb-3">
                                {{ field|add_class:"form-control" }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary w-100 dark text-uppercase fw-800 fs-5 mt-2">Reset password</button>
                    </form>
                </div>
                <p class="text-center mini-text text-uppercase my-4">Feel free to <span><a href="mailto:info@pokedexgenius.com" class="minitext mail-link fw-semibold">contact us</a></span> if you have any trouble resetting your password.</p>
            </div>
        </div>
    </div>
{% endblock form_content %}
