{% extends "guest_header.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block head_title %}Sign up | Create free Pokedex Genius account {% endblock head_title %}

{% block page_heading %}
    <h1 class="blue text-center font-heading fw-800 my-3">Sign up for free</h1>
{% endblock page_heading %}

{% block form_content %}
    <div class="container">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <div class="col d-block justify-content-center flex-wrap align-items-center">
                <p class="text-uppercase lead gold text-center mb-4 pb-2">
                    Already have an account? Please <a href="{% url 'account_login' %}" class="link-success text-decoration-none">sign in here</a> instead.
                </p>

                <!-- Sign up form -->
                <div class="col d-flex flex-column justify-content-center mb-3">
                    <form method="post" class="form-signup">
                        {% csrf_token %}

                        <!-- Form fields -->
                        {% for field in form %}
                            <div class="form-floating mb-3">
                                {{ field|add_class:"form-control" }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% if field.errors %}
                                    <div class="error text-danger mini-text text-uppercase my-2">{{ field.errors|first }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary text-uppercase fw-800 dark fs-5 w-100">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock form_content %}
