{% extends "guest_header.html" %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}Sign up | Create free Pokedex Genius account {% endblock head_title %}

{% block page_heading %}
    <h1 class="blue text-center font-heading fw-800 my-3">Sign up for free</h1>
{% endblock page_heading %}

{% block form_content %}
    <div class="container">
        <div class="col-lg-6 col-md-8 col-sm-10 col-12 mx-auto">
            <div class="col d-block justify-content-center flex-wrap align-items-center">
                <p class="text-uppercase lead gold text-center mb-4 pb-2">
                    Already have an account? Please <a href="{% url 'account_login' %}" class="link-success text-decoration-none">sign in here</a> instead.
                </p>

                <!-- Sign up Form -->
                <div class="col d-flex flex-column justify-content-center mb-3">
                    <form method="post" class="form-signup gap-3">
                        {% csrf_token %}
                        {{ form|crispy }}

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary w-100 dark text-uppercase fw-800 fs-5">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock form_content %}
