{% extends 'base.html' %}

{% block head_title %} {% endblock head_title %}


{% block header %} {% endblock header %}

{% block content %}
<div class="container-fluid bg-bubbles d-flex flex-column align-items-center justify-content-center vh-90 p-3">
    <div class="col-md-8 p-lg-5">
        <div class="row gap-5">
            <div class="col-md-12 nerumorphism p-4 p-sm-5">
                <h1>404</h1>
                <p class="lead">Oh no! We could find the page.</p>
                <p class="fs-5">Team Rocket probably took it.</p>
                <a href="/" class="btn btn-outline-primary">Head back home</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}