{% extends 'base.html' %}

{% block header %}

{% endblock header %}

{% block content %}
    <div class="container-fluid radial-gradient-background main main-height">
        <div class="row gap-4">
                <div class="text-center p-2">
                    <img src='static/images/pokedex-start.webp' alt="Pokedex Genius logo image with Pokemon ball" class="img-fluid img-max-750 pg-start-img">
                </div>
                <div class="d-grid column-gap-5 d-sm-flex gap-3 justify-content-center">
                    <a href="{% url 'account_login' %}" class="btn btn-outline-primary btn-lg px-5 fs-4 dark-shadow fw-800 text-uppercase letter-spacing-2">Login</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-primary btn-lg px-5 fs-4 dark-shadow fw-800 text-uppercase letter-spacing-2 dark">Sign up</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}