{% extends 'base.html' %}

{% block header %}

{% endblock header %}

{% block content %}
    <div class="container-fluid radial-gradient-background main main-height">
        <div class="row gap-4">
                <div class="text-center p-2">
                    <img src='static/images/pokedex-start.webp' alt="Pokedex Genius logo image with Pokemon ball" class="img-fluid img-max-750 pg-start-img">
                </div>
                <h1>Terms</h1>
                <p>.....</p>
            </div>
        </div>
    </div>
{% endblock %}