{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}Profile settings | Pokedex Genius{% endblock head_title %}

{% block content %}
<div class="container-fluid bg-bubbles d-flex flex-column align-items-center justify-content-center vh-90 p-3 pb-4 p-md-0">
    <!-- Backspace Icon -->
    <div class="row align-self-start justify-content-start mb-5 pt-2 ms-1">
        <div class="col align-self-start justify-content-start">
            <div class="bg-white rounded-circle px-2">
                {% include 'backspace_icon.html' with back_url="javascript:void(0);" onclick="goBack();" %}
            </div>
        </div>
    </div>

    <div class="col-md-8 p-0">
        <div class="nerumorphism d-flex flex-column text-sm-start text-center justify-content-between h-100 p-4">
            <div class="col-12 text-center">
                <h1 class="font-heading text-uppercase letterspacing-2 text-center fw-800 p-4 pt-sm-3 pt-3 mb-4">Update Your Profile</h1>
            </div>
            <div class="row w-100">

                <!-- Personal information -->
                <div class="col-md-6">
                    <h4 class="font-heading letterspacing-2 text-center mb-4">Personal information</h4>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="col-md-12">
                            <!-- Username -->
                            <div class="form-floating mb-4">
                                {% render_field profile_form.username class+="form-control" id="id_username" %}
                                <label for="{{ profile_form.username.id_for_label }}">Username</label>
                                {% for error in profile_form.username.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- First name -->
                                <div class="form-floating mb-4">
                                    {% render_field profile_form.first_name class+="form-control" id="id_first_name" %}
                                    <label for="{{ profile_form.first_name.id_for_label }}">First name</label>
                                    {% for error in profile_form.first_name.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Last name -->
                                <div class="form-floating mb-4">
                                    {% render_field profile_form.last_name class+="form-control" id="id_last_name" %}
                                    <label for="{{ profile_form.last_name.id_for_label }}">Last name</label>
                                    {% for error in profile_form.last_name.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Date of birth -->
                                <div class="form-floating mb-4">
                                    {% render_field profile_form.date_of_birth class+="form-control" id="id_date_of_birth" %}
                                    <label for="{{ profile_form.date_of_birth.id_for_label }}">Date of birth</label>
                                    {% for error in profile_form.date_of_birth.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Website -->
                                <div class="form-floating mb-4">
                                    {% render_field profile_form.website_url class+="form-control" id="id_website_url" %}
                                    <label for="{{ profile_form.website_url.id_for_label }}">Website</label>
                                    {% for error in profile_form.website_url.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-sm btn-secondary text-uppercase fw-800 dark w-100 mt-auto pt-sm-2">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Profile biography -->
                <div class="col-md-6">
                    <h4 class="font-heading letterspacing-2 text-center mb-4">Profile biography</h4>
                    <div class="form-floating nerumorphism">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ bio_form.bio }}
                            <label for="{{ bio_form.bio.id_for_label }}"></label>
                            {% for error in bio_form.bio.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                            <button type="submit" class="btn btn-sm btn-secondary text-uppercase fw-800 dark w-100 mt-auto">Save bio</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row w-100 my-5 gap-5">

            <!-- Profile picture -->
            <div class="col-md-3 nerumorphism d-flex flex-column text-center justify-content-between px-4 py-5">
                <h4 class="font-heading letterspacing-2 text-center">Profile picture</h4>
                <form method="post" enctype="multipart/form-data" class="text-center">
                    {% csrf_token %}
                    {% if picture_form.profile_picture.value %}
                        <img src="{{ picture_form.profile_picture.value.url }}" alt="Profile picture" class="img-fluid rounded-circle border-gold avatar p-2 mb-3">
                    {% else %}
                        <img src="{% static 'images/pikachu-placeholder.webp' %}" alt="Placeholder avatar" class="img-fluid rounded-circle border-gold avatar p-2 mb-3">
                    {% endif %}
                    <div class="text-center">
                        {{ picture_form.profile_picture }}
                        {% for error in picture_form.profile_picture.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mt-auto pt-4">
                        <button type="submit" class="btn btn-sm btn-secondary text-uppercase fw-800 dark w-100 mt-auto mt-auto">Update picture</button>
                    </div>
                </form>
            </div>

            <!-- Trainer information -->
            <div class="col-md-3 nerumorphism d-flex flex-column text-center justify-content-between px-4 py-5">
                <h4 class="font-heading letterspacing-2 text-center mb-4">Trainer information</h4>
                <form method="post" enctype="multipart/form-data" class="text-center">
                    {% csrf_token %}

                    <!-- Trainer code -->
                    <div class="form-floating mb-4">
                        {% render_field trainer_form.go_trainer_id class+="form-control" id="id_go_trainer_id" %}
                        <label for="{{ trainer_form.go_trainer_id.id_for_label }}">Go trainer id</label>
                        {% for error in trainer_form.go_trainer_id.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <!-- Trainer qr-code -->
                    <div>
                        {% if trainer_form.trainer_qr_code.value %}
                            <img src="{{ trainer_form.trainer_qr_code.value.url }}" alt="Profile picture" class="img-fluid border-gold p-3 w-75 mb-3">
                        {% else %}
                            <img src="{% static 'images/trainer-qr-code.webp' %}" alt="Placeholder trainer qr-code" class="img-fluid border-gold p-3 w-75 mb-3">
                        {% endif %}
                        {{ trainer_form.trainer_qr_code }}
                        {% for error in trainer_form.trainer_qr_code.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="mt-auto pt-4">
                        <button type="submit" class="btn btn-sm btn-secondary text-uppercase fw-800 dark w-100 mt-auto mt-auto">Update trainer info</button>
                    </div>
                </form>
            </div>

            <!-- Account settings  -->
            <div class="col-md-5 nerumorphism p-5">
                <h4 class="font-heading letterspacing-2 text-center mb-4">Account settings</h4>
                <form method="post" enctype="multipart/form-data">
                    <!-- Email address -->
                    <div class="form-floating mb-3">
                        {% render_field account_form.email class+="form-control" id="id_email" %}
                        <label for="{{ account_form.email.id_for_label }}">Email</label>
                        {% for error in account_form.email.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
    
                    <h5 class="font-heading letterspacing-2 text-center pt-3 mt-4 mb-3">Change password</h5>
                    <!-- Change password -->
                    <div class="form-floating mb-3">
                        {% render_field account_form.old_password class+="form-control" id="id_old_password" %}
                        <label for="{{ account_form.old_password.id_for_label }}">Old password</label>
                        {% for error in account_form.old_password.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-floating mb-3">
                        {% render_field account_form.new_password class+="form-control" id="id_new_password" %}
                        <label for="{{ account_form.new_password.id_for_label }}">New password</label>
                        {% for error in account_form.new_password.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="form-floating mb-3">
                        {% render_field account_form.confirm_password class+="form-control" id="id_confirm_password" %}
                        <label for="{{ account_form.confirm_password.id_for_label }}">Confirm password</label>
                        {% for error in account_form.confirm_password.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="pt-2">
                        <button type="submit" class="btn btn-sm btn-secondary text-uppercase fw-800 dark w-100 mt-auto">Save Changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock scripts %}