/**
Red #FF6347
Gold #FFD700
Green #32CD32
Blue #4169E1
Orchid #BA55D3
Bg #171717
Text #FFFFFF
**/


/* Generic */
body {
    background-color: #171717;
    font-family: 'open sans', sans-serif;
    font-size: 17px;
    line-height: normal;
}
.main-height {
    min-height: 97vh;
}

.vh-90 {
    min-height: 90vh;
}

.height-60 {
    min-height: 60vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.bg-bubbles {
    background-color: #171717;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23000000' fill-opacity='0.6' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.light-glassmorph {
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nerumorphism {
    border-radius: 25px;
    background: #171717;
    box-shadow:  11px 11px 27px #111111,
                -11px -11px 27px #1d1d1d;
}

/*------- Animations  */
.pg-logotype, .btn {
    transition: transform .2s;
}

.pg-logotype:hover, .btn:hover {
    transform: scale(.93);
}

.pg-start-img {
    animation: fadeInDown .9s ease-in-out;
}

/*-------- Navigation */
.dropdown-item:hover {
    padding: auto;
}

/*-------- Details boxes */
.box-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

.box-content > h6 {
    margin-bottom: 0.5rem; 
}

.btn[data-bs-toggle="tooltip"] {
    margin-bottom: 0.5rem;
}

/*------- Graphics  */
.img-max-650 {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.img-max-750 {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;}

.bi-backspace:hover {
    color: #4169E1;
}

/*------ Typography  */
.font-heading, .nav-link {
    font-family: 'poppins', sans-serif;
}

.fw-800 {
    font-weight: 800;
}

.mini-text, .form-check-label, .form-text {
    font-size: 12px;
}

.letterspacing-2 {
    letter-spacing: 2px;
}

/*---------- Colors */
.gold, a, .form-check-label {
    color: #FFD700;
}

.green, a:hover {
    color: #32CD32;
}

.red, .invalid-feedback {
    color: #FF6347;
}

.blue {
    color: #4169E1;
}

.dark, .nav-link:hover, .dropdown-item:hover, .btn-outline-green:hover {
    color: #171717;
}

.orchid {
    color: #BA55D3;
}

.white, .nav-link {
    color: #FFF;
}

.main-bg  {
    background-color: #171717;
}

.bg-blue {
    background-color: #4169E1;
}

.bg-white {
    background-color: #FFF;
}

.bg-green, .dropdown-item:hover {
    background-color: #32CD32;
}

.bg-gold, .nav-link:hover  {
    background-color: #FFD700;
}

.bg-red {
    background-color: #FF6347;
}

.bg-orchid {
    background-color: #BA55D3;
}

/* Background Index.html */
.radial-gradient-background {
    background-image: radial-gradient(circle, #ffffff, #576480);
}

.border-gold {
    border: 2px solid #FFD700;
}

/*----------- Buttons */
.btn-primary {
    border: 2px solid #32CD32;
    background-color: #32CD32;
}

.btn-primary:hover {
    background-color: #FFD700;
    border: 2px solid #FFD700;
    box-shadow: 0 0 12px #BA55D3;
    color: #171717;
}

.btn-secondary {
    background-color: #FFD700;
    border: 2px solid #FFD700;
}

.btn-secondary:hover {
    border: 2px solid #FF6347;
    background-color: #FF6347;
    box-shadow: 0 0 12px #32CD32d3;
}

.btn-outline-primary {
    color: #BA55D3;
    border: 2px solid #BA55D3;
} 

.btn-outline-primary:hover {
    background-color: #BA55D3;
    border: 2px solid #BA55D3;
} 

.btn-outline-blue {
    color: #4169E1;
    border: 2px solid #4169E1;
} 

.btn-outline-blue:hover {
    background-color: #4169E1;
    border: 2px solid #4169E1;
    box-shadow: 0 0 12px #BA55D3;
} 

.btn-outline-secondary {
    color: #FF6347;
    border: 2px solid #FF6347;
} 

.btn-outline-secondary:hover {
    background-color: #FF6347;
    border: 2px solid #FF6347;
    box-shadow: 0 0 12px #BA55D3;
} 

.btn-outline-gold {
    color: #FFD700;
    border: 2px solid #FFD700;
} 

.btn-outline-gold:hover {
    background-color: #FFD700;
    border: 2px solid #FFD700;
    box-shadow: 0 0 12px #BA55D3;
} 


.dark-shadow {
    box-shadow: 0px -5px 20px #1717175b;
}

.light-shadow {
    box-shadow: 0px -5px 20px #ffffff96;
}

.orchid-shadow {
    box-shadow: 0px 1px 17px #ba55d390;
}

.gold-shadow {
    box-shadow: 0px 1px 17px #ffd9009f;
}

a {
    text-decoration: none;
}

/*---------- Forms, popups, toasts */
input[type='color'] {
    height: calc(1.1em + 0.3rem + 2px);
    padding: 0;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.pokedex-description {
    height: 100px;
}

.form {
    width: 580px;  
    margin: auto;      
    padding: 15px;     
}

.form-control {
    padding: 0.8rem 0.75rem;
}

.form-check-label, .form-text {
    margin: 1rem 0px 1rem;
}

.checkboxinput {
    margin: 15px 15px 1rem;
}

#id_password1_helptext, .form-label {
    display: none;
}

.form-row {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

.form-field {
    flex: 1;
    min-width: 120px;
}


/*----- Header */
.gradient-header {
    background: linear-gradient(304deg, #4169E1, #BA55D3); 
    color: #fff;
}

.dropdown-item:hover {
    font-weight: 600;
}

.logo {
    max-width: 170px;
    padding: auto;
    margin: auto;
}

.header-avatar {
    width: 32px;
    height: 32px;
}

/*----- Footer */
.footer-cred {
    min-height: 3vh;
}

/*-----Modal */
.modal-header, .modal-footer {
    border: none
}

/*--------------- Pokemon Cards */
.pokemon-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.pokemon-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}



/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
/* Graphics */
    .img-max-650 {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }
}
  